<!DOCTYPE html>
<html>
<head>
<style>
  .image {
    padding: 50px 0;

  text-align: center;
}
body
{
    margin: 0;
}
.h2{

    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

</style>
</head>
<body>

<div class="h2"><h2 >About us</h2></div>
<div class="image"><img src="../../assets//images/about.jpg" ></div>
<div class="p"><p>The Hospital Management  is segmented by product as cloud, on-premise,</p></div> 
<div class="p"><p>free, paid and open source hospital management solutions and also based on the modules offered. </p></div>
<div class="p"><p>The Hospital management system enables hospitals and healthcare centres to function systematically and manage information</p></div>
 <div class="p"><p>effectively to deliver better patient care. The software integrates with all the functionalities of the hospitals and </p></div>
 <div class="p"><p>all the information related to doctors, patients, andhospital staffs. Several hospitals have installed hospital management software</p></div>
 <div class="p"><p>to streamline their operation and business process. The intention is to manage every aspect, of any size and boost work </p></div>
 <div class="p"><p>effectively across all levels, at all time.</p></div>

                                            
      
    
  

</body>
</html>